{{#get "pages" filter="tag:hash-testimonial" limit="1" include="tags"  as |post|}}
    {{#if post}}
        {{#post}}
            <section class="py-16">
                <div class="container">
                    <!-- Title -->
                    <div class="flex flex-col space-y-4 lg:space-y-0 lg:flex-row justify-end items-start mb-12">
                        <div class="basis-2/4">
                            {{#if excerpt}}
                                <span class="text-xs uppercase text-grey font-semibold mb-2 block">
                                    {{excerpt}}
                                </span>
                            {{/if}}
                            <h2 class="space-bold text-4xl second-color">
                                {{title}}
                            </h2>
                        </div>
                        <div class="lg:basis-2/4 flex justify-end items-center space-x-1">
                            <button id="testi-prev">
                                {{> 'icons/arrow-left'}}
                            </button>
                            <button id="testi-next">
                                {{> 'icons/arrow-right'}}
                            </button>
                        </div>
                    </div>
                    <div class="splide" id="trex_testimonial_posts">
                        <div class="splide__track">
                            <div class="splide__list">
                                {{#foreach tags}}
                                    <div class="splide__slide relative py-6 px-10 bg-[#f6f7f8] rounded-[32px] border border-gray-200">
                                        {{#if description}}
                                            <div class="text-grey text-[16px] font-medium mb-6">
                                                {{description}}
                                            </div>
                                        {{/if}}
                                        <div class="flex items-center">
                                            <div class="w-[80px] h-[80px] relative {{#unless feature_image}} second-bg {{/unless}} rounded-full overflow-hidden">
                                                {{#if feature_image}}
                                                    <img src="{{img_url feature_image size="xxs"}}" data-src="{{img_url feature_image size="xs"}}" alt="{{name}}" class="lazyload object-cover absolute w-full h-full">
                                                {{else}}
                                                    <span class="trex_has_text_slide text-3xl text-white space-bold uppercase flex items-center justify-center h-full">
                                                        {{name}}
                                                    </span>
                                                {{/if}}
                                            </div>
                                            <div class="ml-4">
                                                <span class="space-bold block">{{name}}</span>
                                                <span class="text-grey text-sm font-semibold">
                                                    {{meta_description}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                {{/foreach}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {{/post}}
    {{/if}}
{{/get}}